<app-navbar></app-navbar>
<section id="home"><app-hero></app-hero></section>
<section id="about"><app-about></app-about></section>
<section id="skills"><app-skills></app-skills></section>
<section id="services"><app-services></app-services></section>
<section id="portfolio"><app-portfolio></app-portfolio></section>
<section id="contact"><app-contact></app-contact></section>
<footer class="bg-dark text-white text-center py-4">
  <p>© 2025 Prasanthi Siddareddy. All rights reserved.</p>
  <a href="https://github.com/PrasanthiSiddareddy97" target="_blank" class="text-white me-3"><i
      class="fab fa-github"></i></a>
  <a href="https://www.linkedin.com/in/prasanthi-siddareddy-447939177" target="_blank" class="text-white"><i
      class="fab fa-linkedin"></i></a>
</footer>
